<div class="w-full min-h-screen h-auto bg-soft-black ml-auto mr-auto flex justify-center items-center flex flex-col">


  <!-- Second panel -->
  <div id="second-view" class="w-3/6 h-auto rounded-xl bg-medium-black shadow-lg flex flex-col justify-center items-center">

    <div class="w-full h-1/4 bg-soft-grey rounded-t-xl flex flex-row justify-center text-center mt-auto mb-auto flex items-center py-4">
      <h1 class="text-purple-accent text-4xl font-light">
        <b>Tasa y Plazo</b>
      </h1>
    </div>

    <form [formGroup]="effectiveForm" id="effective-rate-type" class="w-full flex flex-col justify-center items-center py-8">
      <div class="w-3/4 flex flex-row items-center ml-auto my-4">
        <h3 class="text-gray-200 text-xl w-1/3">
          Días por año
        </h3>
        <!-- Days of the year dropdown -->
        <div class="w-auto relative inline-flex">
          <svg class="w-2 h-2 absolute top-0 right-0 m-4 pointer-events-none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 412 232"><path d="M206 171.144L42.678 7.822c-9.763-9.763-25.592-9.763-35.355 0-9.763 9.764-9.763 25.592 0 35.355l181 181c4.88 4.882 11.279 7.323 17.677 7.323s12.796-2.441 17.678-7.322l181-181c9.763-9.764 9.763-25.592 0-35.355-9.763-9.763-25.592-9.763-35.355 0L206 171.144z" fill="#ffffff" fill-rule="nonzero"/></svg>
          <select formControlName="nDias" class="text-base font-medium rounded-md text-gray-200 h-10 pl-5 pr-10 border-none bg-hard-black focus:ring-hard-purple xl:hover:bg-soft-grey focus:outline-none appearance-none transition-all duration-500 ease-linear focus:ring-0">
            <option>360</option>
            <option>365</option>
          </select>
        </div>
      </div>

      <div class="w-3/4 flex flex-row items-center ml-auto my-4">
        <h3 class="text-gray-200 text-xl w-1/3">
          Plazo de Tasa
        </h3>
        <!-- Rate period -->
        <div class="w-auto relative inline-flex">
          <svg class="w-2 h-2 absolute top-0 right-0 m-4 pointer-events-none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 412 232"><path d="M206 171.144L42.678 7.822c-9.763-9.763-25.592-9.763-35.355 0-9.763 9.764-9.763 25.592 0 35.355l181 181c4.88 4.882 11.279 7.323 17.677 7.323s12.796-2.441 17.678-7.322l181-181c9.763-9.764 9.763-25.592 0-35.355-9.763-9.763-25.592-9.763-35.355 0L206 171.144z" fill="#ffffff" fill-rule="nonzero"/></svg>
          <select formControlName="plazoTasa" class="text-base font-medium rounded-md text-gray-200 h-10 pl-5 pr-10 border-none bg-hard-black focus:ring-hard-purple xl:hover:bg-soft-grey focus:outline-none appearance-none transition-all duration-500 ease-linear focus:ring-0">
            <option>Anual</option>
            <option>Semestral</option>
            <option>Quatrimestral</option>
            <option>Trimestral</option>
            <option>Bimestral</option>
            <option>Mensual</option>
            <option>Quincenal</option>
            <option>Diario</option>
          </select>
        </div>

      </div>

      <div class="w-3/4 flex flex-row items-center ml-auto my-4">
        <h3 class="text-gray-200 text-xl w-1/3">
          Tasa Efectiva
        </h3>
        <input  class="w-1/4 bg-hard-black border-none rounded-md text-gray-300 focus:ring-hard-purple text-xl"
                type="number"
                formControlName="tasaEfectiva"
                required>
        <h3 class="text-gray-200 text-lg font-bold ml-2.5">%</h3>
      </div>

      <div class="w-3/4 flex flex-row items-center ml-auto my-4">
        <h3 class="text-gray-200 text-xl w-1/3">
          Fecha de Descuento
        </h3>
        <input id="date" class="w-auto bg-hard-black border-none rounded-md text-gray-300 focus:ring-hard-purple text-xl"
               type="date"
               formControlName="fechaDescuento"
               required>
      </div>

      <div class="flex flex-row mr-16">
        <button class="w-32 h-14 text-lg bg-hard-purple xl:hover:bg-purple-400 text-gray-200 rounded-md transition-all duration-500 ease-linear ml-auto mt-5" (click)="changeViewValue(1)">
          <b>Next</b>
        </button>
      </div>

    </form>

    <form [formGroup]="nominalForm" id="nominal-rate-type" class="w-full flex flex-col justify-items-center py-8">
      <div class="w-3/4 flex flex-row items-center ml-auto my-4">
        <h3 class="text-gray-200 text-xl w-1/3">
          Días por año
        </h3>
        <!-- Days of the year dropdown -->
        <div class="w-auto relative inline-flex">
          <svg class="w-2 h-2 absolute top-0 right-0 m-4 pointer-events-none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 412 232"><path d="M206 171.144L42.678 7.822c-9.763-9.763-25.592-9.763-35.355 0-9.763 9.764-9.763 25.592 0 35.355l181 181c4.88 4.882 11.279 7.323 17.677 7.323s12.796-2.441 17.678-7.322l181-181c9.763-9.764 9.763-25.592 0-35.355-9.763-9.763-25.592-9.763-35.355 0L206 171.144z" fill="#ffffff" fill-rule="nonzero"/></svg>
          <select formControlName="nDias" class="text-base font-medium rounded-md text-gray-200 h-10 pl-5 pr-10 border-none bg-hard-black focus:ring-hard-purple xl:hover:bg-soft-grey focus:outline-none appearance-none transition-all duration-500 ease-linear focus:ring-0">
            <option>360</option>
            <option>365</option>
          </select>
        </div>
      </div>

      <div class="w-3/4 flex flex-row items-center ml-auto my-4">
        <h3 class="text-gray-200 text-xl w-1/3">
          Plazo de Tasa
        </h3>
        <!-- Rate period -->
        <div class="w-auto relative inline-flex">
          <svg class="w-2 h-2 absolute top-0 right-0 m-4 pointer-events-none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 412 232"><path d="M206 171.144L42.678 7.822c-9.763-9.763-25.592-9.763-35.355 0-9.763 9.764-9.763 25.592 0 35.355l181 181c4.88 4.882 11.279 7.323 17.677 7.323s12.796-2.441 17.678-7.322l181-181c9.763-9.764 9.763-25.592 0-35.355-9.763-9.763-25.592-9.763-35.355 0L206 171.144z" fill="#ffffff" fill-rule="nonzero"/></svg>
          <select formControlName="plazoTasa" class="text-base font-medium rounded-md text-gray-200 h-10 pl-5 pr-10 border-none bg-hard-black focus:ring-hard-purple xl:hover:bg-soft-grey focus:outline-none appearance-none transition-all duration-500 ease-linear focus:ring-0">
            <option>Anual</option>
            <option>Semestral</option>
            <option>Quatrimestral</option>
            <option>Trimestral</option>
            <option>Bimestral</option>
            <option>Mensual</option>
            <option>Quincenal</option>
            <option>Diario</option>
          </select>
        </div>

      </div>

      <div class="w-3/4 flex flex-row items-center ml-auto my-4">
        <h3 class="text-gray-200 text-xl w-1/3">
          Tasa Nominal
        </h3>
        <input  class="w-1/4 bg-hard-black border-none rounded-md text-gray-300 focus:ring-hard-purple text-xl"
                type="number"
                formControlName="tasaNominal"
                required>
        <h3 class="text-gray-200 text-lg font-bold ml-2.5">%</h3>
      </div>

      <div class="w-3/4 flex flex-row items-center ml-auto my-4">
        <h3 class="text-gray-200 text-xl w-1/3">
          Periodo de Capital
        </h3>
        <!-- Rate period -->
        <div class="w-auto relative inline-flex">
          <svg class="w-2 h-2 absolute top-0 right-0 m-4 pointer-events-none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 412 232"><path d="M206 171.144L42.678 7.822c-9.763-9.763-25.592-9.763-35.355 0-9.763 9.764-9.763 25.592 0 35.355l181 181c4.88 4.882 11.279 7.323 17.677 7.323s12.796-2.441 17.678-7.322l181-181c9.763-9.764 9.763-25.592 0-35.355-9.763-9.763-25.592-9.763-35.355 0L206 171.144z" fill="#ffffff" fill-rule="nonzero"/></svg>
          <select formControlName="periodoCapital" class="text-base font-medium rounded-md text-gray-200 h-10 pl-5 pr-10 border-none bg-hard-black focus:ring-hard-purple xl:hover:bg-soft-grey focus:outline-none appearance-none transition-all duration-500 ease-linear focus:ring-0">
            <option>Anual</option>
            <option>Semestral</option>
            <option>Quatrimestral</option>
            <option>Trimestral</option>
            <option>Bimestral</option>
            <option>Mensual</option>
            <option>Quincenal</option>
            <option>Diario</option>
          </select>
        </div>

      </div>

      <div class="w-3/4 flex flex-row items-center ml-auto my-4">
        <h3 class="text-gray-200 text-xl w-1/3">
          Fecha de Descuento
        </h3>
        <input  class="w-auto bg-hard-black border-none rounded-md text-gray-300 focus:ring-hard-purple text-xl"
                type="date"
                formControlName="fechaDescuento"
                required>
      </div>

      <div class="flex flex-row ml-auto mr-16">
        <button class="w-32 h-14 text-lg bg-hard-purple xl:hover:bg-purple-400 text-gray-200 rounded-md transition-all duration-500 ease-linear ml-auto mr-5 mt-5" (click)="changeViewValue(-1)">
          <b>Return</b>
        </button>
        <button class="w-32 h-14 text-lg bg-hard-purple xl:hover:bg-purple-400 text-gray-200 rounded-md transition-all duration-500 ease-linear mt-5 mr-16" (click)="changeViewValue(1)">
          <b>Next</b>
        </button>
      </div>

    </form>

  </div>

  <!-- Third panel -->
  <div id="third-view" class="w-3/6 h-auto rounded-xl bg-medium-black shadow-lg flex flex-col justify-center items-center">

    <div class="w-full h-1/4 bg-soft-grey rounded-t-xl flex flex-row justify-center text-center mt-auto mb-auto items-center py-4">
      <h1 class="text-purple-accent text-4xl font-light">
        <b>Costes / Gastos Iniciales</b>
      </h1>
    </div>

    <form [formGroup]="initialExpensesForm" class="w-full flex flex-col justify-center items-center mt-4 mb-4">
      <div class="w-3/4 flex flex-row items-center ml-2.5 my-4">
        <h3 class="text-gray-200 text-xl w-1/3">
          Motivo
        </h3>
        <!-- Motive of expense -->
        <input  class="w-1/4 h-10 bg-hard-black border-none rounded-md text-gray-300 focus:ring-hard-purple text-xl mr-auto pl-2"
                formControlName="motive"
                required>
      </div>

      <div class="w-3/4 flex flex-row items-center ml-2.5 my-2">
        <h3 class="text-gray-200 text-xl w-1/3">
          Valor expresado en
        </h3>
        <!-- Rate period -->
        <div class="w-auto relative inline-flex">
          <svg class="w-2 h-2 absolute top-0 right-0 m-4 pointer-events-none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 412 232"><path d="M206 171.144L42.678 7.822c-9.763-9.763-25.592-9.763-35.355 0-9.763 9.764-9.763 25.592 0 35.355l181 181c4.88 4.882 11.279 7.323 17.677 7.323s12.796-2.441 17.678-7.322l181-181c9.763-9.764 9.763-25.592 0-35.355-9.763-9.763-25.592-9.763-35.355 0L206 171.144z" fill="#ffffff" fill-rule="nonzero"/></svg>
          <select formControlName="valueType" class="text-base font-medium rounded-md text-gray-200 h-10 pl-5 pr-10 border-none bg-hard-black focus:ring-hard-purple xl:hover:bg-soft-grey focus:outline-none appearance-none transition-all duration-500 ease-linear focus:ring-0">
            <option>Efectivo</option>
            <option>Porcentaje</option>
          </select>
        </div>
        <input  class="w-1/4 h-10 bg-hard-black border-none rounded-md text-gray-300 focus:ring-hard-purple text-xl ml-2.5 mr-auto pl-2"
                formControlName="amount"
                required>

      </div>

      <div class="flex flex-row justify-center mt-2">
        <button class="w-24 h-10 text-sm bg-soft-grey xl:hover:bg-gray-700 text-gray-200  rounded-md transition-all duration-500 ease-linear ml-auto" (click)="addInitialExpenses()">
          <b>Add</b>
        </button>
        <button class="w-24 h-10 text-sm bg-soft-grey xl:hover:bg-gray-700 text-gray-200  rounded-md transition-all duration-500 ease-linear mx-2" (click)="clearInitialExpenses()">
          <b>Clear</b>
        </button>
      </div>

      <!-- Table of expenses goes here -->
      <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8 mt-5">
        <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
          <div class="shadow overflow-hidden border-b border-hard-black sm:rounded-lg">
            <table class="w-3/4 max-w-3/4 divide-y divide-hard-black">
              <thead class="bg-medium-black">
              <tr>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-200 uppercase tracking-wider">
                  Motivo
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-200 uppercase tracking-wider">
                  Amount
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-200 uppercase tracking-wider">
                  Action
                </th>
              </tr>
              </thead>
              <tbody class="bg-soft-grey divide-y divide-gray-200" *ngFor="let expense of initialExpenses; let i = index">
              <tr>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="flex items-center">
                    <h3 class="text-sm font-medium text-gray-200">
                      {{expense.motive}}
                    </h3>
                  </div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-center">
                  <div *ngIf="expense.valueType == 'Efectivo'">
                    <h3 class="text-sm text-gray-200" *ngIf="this.currencyType == 'Soles'">S/.{{expense.amount}}</h3>
                    <h3 class="text-sm text-gray-200" *ngIf="this.currencyType == 'Dollars'">${{expense.amount}}</h3>
                  </div>
                  <h3 class="text-sm text-gray-200" *ngIf="expense.valueType == 'Porcentaje'">{{expense.amount}}%</h3>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-center text-sm font-medium">
                  <a href="#" class="text-indigo-600 hover:text-indigo-900" (click)="deleteInitialExpense(i)">Delete</a>
                </td>
              </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="flex flex-row ml-auto mr-16">
        <button class="w-32 h-14 text-lg bg-hard-purple xl:hover:bg-purple-400 text-gray-200 rounded-md transition-all duration-500 ease-linear mt-5 mr-5" (click)="changeViewValue(-1)">
          <b>Return</b>
        </button>
        <button class="w-32 h-14 text-lg bg-hard-purple xl:hover:bg-purple-400 text-gray-200 rounded-md transition-all duration-500 ease-linear mt-5" (click)="changeViewValue(1)">
          <b>Next</b>
        </button>
      </div>

    </form>

  </div>

  <!-- Fourth panel -->
  <div id="fourth-view" class="w-3/6 h-auto rounded-xl bg-medium-black shadow-lg flex flex-col justify-center items-center">

    <div class="w-full h-1/4 bg-soft-grey rounded-t-xl flex flex-row justify-center text-center mt-auto mb-auto items-center py-4">
      <h1 class="text-purple-accent text-4xl font-light">
        <b>Costes / Gastos Finales</b>
      </h1>
    </div>

    <form [formGroup]="finalExpensesForm" class="w-full flex flex-col justify-center items-center mt-4 mb-4">
      <div class="w-3/4 flex flex-row items-center ml-2.5 my-4">
        <h3 class="text-gray-200 text-xl w-1/3">
          Motivo
        </h3>
        <!-- Motive of expense -->
        <input  class="w-1/4 h-10 bg-hard-black border-none rounded-md text-gray-300 focus:ring-hard-purple text-xl mr-auto pl-2"
                formControlName="motive"
                required>
      </div>

      <div class="w-3/4 flex flex-row items-center ml-2.5 my-2">
        <h3 class="text-gray-200 text-xl w-1/3">
          Valor expresado en
        </h3>
        <!-- Rate period -->
        <div class="w-auto relative inline-flex">
          <svg class="w-2 h-2 absolute top-0 right-0 m-4 pointer-events-none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 412 232"><path d="M206 171.144L42.678 7.822c-9.763-9.763-25.592-9.763-35.355 0-9.763 9.764-9.763 25.592 0 35.355l181 181c4.88 4.882 11.279 7.323 17.677 7.323s12.796-2.441 17.678-7.322l181-181c9.763-9.764 9.763-25.592 0-35.355-9.763-9.763-25.592-9.763-35.355 0L206 171.144z" fill="#ffffff" fill-rule="nonzero"/></svg>
          <select formControlName="valueType" class="text-base font-medium rounded-md text-gray-200 h-10 pl-5 pr-10 border-none bg-hard-black focus:ring-hard-purple xl:hover:bg-soft-grey focus:outline-none appearance-none transition-all duration-500 ease-linear focus:ring-0">
            <option>Efectivo</option>
            <option>Porcentaje</option>
          </select>
        </div>
        <input  class="w-1/4 h-10 bg-hard-black border-none rounded-md text-gray-300 focus:ring-hard-purple text-xl ml-2.5 mr-auto pl-2"
                formControlName="amount"
                required>

      </div>

      <div class="flex flex-row justify-center mt-2">
        <button class="w-24 h-10 text-sm bg-soft-grey xl:hover:bg-gray-700 text-gray-200  rounded-md transition-all duration-500 ease-linear ml-auto" (click)="addFinalExpense()">
          <b>Add</b>
        </button>
        <button class="w-24 h-10 text-sm bg-soft-grey xl:hover:bg-gray-700 text-gray-200  rounded-md transition-all duration-500 ease-linear mx-2" (click)="clearFinalExpenses()">
          <b>Clear</b>
        </button>
      </div>

      <!-- Table of expenses goes here -->
      <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8 mt-5">
        <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
          <div class="shadow overflow-hidden border-b border-hard-black sm:rounded-lg">
            <table class="w-3/4 max-w-3/4 divide-y divide-hard-black">
              <thead class="bg-medium-black">
              <tr>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-200 uppercase tracking-wider">
                  Motivo
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-200 uppercase tracking-wider">
                  Amount
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-200 uppercase tracking-wider">
                  Action
                </th>
              </tr>
              </thead>
              <tbody class="bg-soft-grey divide-y divide-gray-200" *ngFor="let expense of finalExpenses; let i = index">
              <tr>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="flex items-center">
                    <h3 class="text-sm font-medium text-gray-200">
                      {{expense.motive}}
                    </h3>
                  </div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-center">
                  <div *ngIf="expense.valueType == 'Efectivo'">
                    <h3 class="text-sm text-gray-200" *ngIf="this.currencyType == 'Soles'">S/.{{expense.amount}}</h3>
                    <h3 class="text-sm text-gray-200" *ngIf="this.currencyType == 'Dollars'">${{expense.amount}}</h3>
                  </div>
                  <h3 class="text-sm text-gray-200" *ngIf="expense.valueType == 'Porcentaje'">{{expense.amount}}%</h3>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-center text-sm font-medium">
                  <a href="#" class="text-indigo-600 hover:text-indigo-900" (click)="deleteFinalExpense(i)">Delete</a>
                </td>
              </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="flex flex-row ml-auto mr-16">
        <button class="w-32 h-14 text-lg bg-hard-purple xl:hover:bg-purple-400 text-gray-200 rounded-md transition-all duration-500 ease-linear mt-5 mr-5" (click)="changeViewValue(-1)">
          <b>Return</b>
        </button>
        <button class="w-32 h-14 text-lg bg-hard-purple xl:hover:bg-purple-400 text-gray-200 rounded-md transition-all duration-500 ease-linear mt-5" (click)="changeViewValue(1)">
          <b>Next</b>
        </button>
      </div>

    </form>

  </div>

  <div class="w-full flex flex-col justify-center items-center">
    <!-- Carteras panel -->
    <div id="first-view" class="w-3/6 flex flex-col justify-center items-center pt-10">
      <!-- First panel -->
      <div class="w-full h-auto rounded-xl bg-medium-black shadow-lg flex flex-col mt-26">

        <div class="w-full h-1/4 bg-soft-grey rounded-t-xl flex flex-row justify-center text-center mt-auto mb-auto items-center py-4">
          <h1 class="text-purple-accent text-4xl font-light">
            <b>Datos de la Letra</b>
          </h1>
        </div>

        <form [formGroup]="firstForm" class="w-full flex flex-col justify-center items-center py-8">
          <div class="w-3/4 flex flex-row items-center ml-2.5 my-4">
            <h3 class="text-gray-200 text-xl w-1/3">
              Fecha de Giro
            </h3>
            <input  class="w-4/5 bg-hard-black border-none rounded-md text-gray-300 focus:ring-hard-purple text-xl"
                    type="date"
                    formControlName="fechaGiro"
                    required>
          </div>

          <div class="w-3/4 flex flex-row items-center ml-2.5 my-4">
            <h3 class="text-gray-200 text-xl w-1/3">
              Fecha de Vencimiento
            </h3>
            <input  class="w-4/5 bg-hard-black border-none rounded-md text-gray-300 focus:ring-hard-purple text-xl"
                    type="date"
                    formControlName="fechaVencimiento"
                    required>

          </div>

          <div class="w-3/4 flex flex-row items-center ml-2.5 my-4">
            <h3 class="text-gray-200 text-xl w-1/3">
              Valor Nominal
            </h3>
            <input  class="w-4/5 bg-hard-black border-none rounded-md text-gray-300 focus:ring-hard-purple text-xl"
                    formControlName="valorNominal"
                    type="number"
                    required>

          </div>

          <div class="w-3/4 flex flex-row items-center ml-2.5 my-4">
            <h3 class="text-gray-200 text-xl w-1/3">
              Retención
            </h3>
            <input  class="w-4/5 bg-hard-black border-none rounded-md text-gray-300 focus:ring-hard-purple text-xl"
                    formControlName="retencion"
                    type="number"
                    required>
          </div>

          <button class="w-32 h-14 text-lg bg-hard-purple xl:hover:bg-purple-400 text-gray-200 rounded-md transition-all duration-500 ease-linear ml-auto mr-16 mt-5" (click)="submitValues()">
            <b>Confirm</b>
          </button>
        </form>

      </div>

    </div>
    <!-- Results panel -->
    <div id="results-view" class="w-5/6 h-auto rounded-xl bg-medium-black shadow-lg flex flex-col mt-10 justify-center items-center">
      <div class="w-full h-1/4 bg-soft-grey rounded-t-xl flex flex-col justify-center text-center mt-auto mb-auto flex items-center py-4">
        <h1 class="text-purple-accent text-4xl font-light">
          <b>Resultados</b>
        </h1>
      </div>
      <div class="w-full flex flex-col justify-center items-center py-4">
        <div class="w-3/4 flex flex-row items-center ml-2.5 my-2">
          <h3 class="text-gray-200 text-xl w-3/6 text-center">
            Valor Total a Recibir por la Cartera
          </h3>
          <h3  class="w-4/12 h-10 bg-hard-black border-none rounded-md text-gray-300 focus:ring-hard-purple text-xl ml-2.5 py-2 text-center">
            {{this.totalValorRecibido | number:'1.2-2'}}
          </h3>
        </div>

        <div class="w-3/4 flex flex-row items-center ml-2.5 my-2">
          <h3 class="text-gray-200 text-xl w-3/6 text-center">
            Tasa de Coste Efectiva Anual de la Cartera
          </h3>
          <h3  class="w-4/12 h-10 bg-hard-black border-none rounded-md text-gray-300 focus:ring-hard-purple text-xl ml-2.5 py-2 text-center">
            {{this.totalTCEA | number:'1.7-7'}}%
          </h3>
        </div>
      </div>
    </div>
    <!-- Notes panel -->
    <div id="notes-view" class="w-5/6 h-auto bg-soft-black flex flex-col items-center mt-10 justify-center items-center pb-20">
      <div class="flex flex-col mt-5">
        <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8 mt-5">
          <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
            <div class="shadow overflow-hidden border-b border-hard-black sm:rounded-lg">
              <table class="min-w-full divide-y divide-hard-black">
                <thead class="bg-medium-black py-2">
                <tr>
                  <th scope="col" class="px-6 py-3 text-left text-sm font-medium text-purple-accent uppercase tracking-wider">
                    Fecha de Giro
                  </th>
                  <th scope="col" class="px-6 py-3 text-left text-sm font-medium text-purple-accent uppercase tracking-wider">
                    Valor Nominal
                  </th>
                  <th scope="col" class="px-6 py-3 text-left text-sm font-medium text-purple-accent uppercase tracking-wider">
                    Fecha de Vencimiento
                  </th>
                  <th scope="col" class="px-6 py-3 text-left text-sm font-medium text-purple-accent uppercase tracking-wider">
                    Retención
                  </th>
                  <th scope="col" class="px-6 py-3 text-left text-sm font-medium text-purple-accent uppercase tracking-wider">
                    Dias
                  </th>
                  <th scope="col" class="px-6 py-3 text-left text-sm font-medium text-purple-accent uppercase tracking-wider">
                    Tasa %
                  </th>
                  <th scope="col" class="px-6 py-3 text-left text-sm font-medium text-purple-accent uppercase tracking-wider">
                    d %
                  </th>
                  <th scope="col" class="px-6 py-3 text-left text-sm font-medium text-purple-accent uppercase tracking-wider">
                    Descuento
                  </th>
                  <th scope="col" class="px-6 py-3 text-left text-sm font-medium text-purple-accent uppercase tracking-wider">
                    Coste Inicial
                  </th>
                  <th scope="col" class="px-6 py-3 text-left text-sm font-medium text-purple-accent uppercase tracking-wider">
                    Coste Final
                  </th>
                  <th scope="col" class="px-6 py-3 text-left text-sm font-medium text-purple-accent uppercase tracking-wider">
                    Val. Neto
                  </th>
                  <th scope="col" class="px-6 py-3 text-left text-sm font-medium text-purple-accent uppercase tracking-wider">
                    Val. Rec
                  </th>
                  <th scope="col" class="px-6 py-3 text-left text-sm font-medium text-purple-accent uppercase tracking-wider">
                    Val. Ent
                  </th>
                  <th scope="col" class="px-6 py-3 text-left text-sm font-medium text-purple-accent uppercase tracking-wider">
                    TCEA %
                  </th>
                  <th scope="col" class="relative px-6 py-3">
                    <span class="sr-only">Edit</span>
                  </th>
                </tr>
                </thead>

                <tbody class="bg-soft-grey divide-y divide-gray-200" *ngFor="let element of data; let i = index">
                <tr>
                  <td class="px-6 py-4 whitespace-nowrap">
                    <div class="flex items-center">
                      <h3 class="text-sm font-medium text-gray-200 ">
                        {{element[0].fechaGiro}}
                      </h3>
                    </div>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-center">
                    <div class="flex items-center">
                      <h3 class="text-sm font-medium text-gray-200">
                        {{element[0].valorNominal | number:'1.2-2'}}
                      </h3>
                    </div>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap">
                    <div class="flex items-center">
                      <h3 class="text-sm font-medium text-gray-200">
                        {{element[0].fechaVencimiento}}
                      </h3>
                    </div>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap">
                    <div class="flex items-center">
                      <h3 class="text-sm font-medium text-gray-200">
                        {{element[0].retencion | number:'1.2-2'}}
                      </h3>
                    </div>
                  </td>
                  <!-- Número de dias -->
                  <td class="px-6 py-4 whitespace-nowrap">
                    <div class="flex items-center">
                      <h3 class="text-sm font-medium text-gray-200">
                        {{element[1]}}
                      </h3>
                    </div>
                  </td>

                  <!-- TEP -->
                  <td class="px-6 py-4 whitespace-nowrap">
                    <div class="flex items-center">
                      <h3 class="text-sm font-medium text-gray-200">
                        {{element[2] | number:'1.7-7'}}%
                      </h3>
                    </div>
                  </td>

                  <!-- d -->
                  <td class="px-6 py-4 whitespace-nowrap">
                    <div class="flex items-center">
                      <h3 class="text-sm font-medium text-gray-200">
                        {{element[3] | number:'1.7-7'}}%
                      </h3>
                    </div>
                  </td>

                  <!-- Descuento -->
                  <td class="px-6 py-4 whitespace-nowrap">
                    <div class="flex items-center">
                      <h3 class="text-sm font-medium text-gray-200">
                        {{element[4] | number:'1.2-2'}}
                      </h3>
                    </div>
                  </td>

                  <!-- Costos Totales Iniciales -->
                  <td class="px-6 py-4 whitespace-nowrap">
                    <div class="flex items-center">
                      <h3 class="text-sm font-medium text-gray-200">
                        {{element[5] | number:'1.2-2'}}
                      </h3>
                    </div>
                  </td>

                  <!-- Costos Totales Finales -->
                  <td class="px-6 py-4 whitespace-nowrap">
                    <div class="flex items-center">
                      <h3 class="text-sm font-medium text-gray-200">
                        {{element[6] | number:'1.2-2'}}
                      </h3>
                    </div>
                  </td>

                  <!-- Valor Neto -->
                  <td class="px-6 py-4 whitespace-nowrap">
                    <div class="flex items-center">
                      <h3 class="text-sm font-medium text-gray-200">
                        {{element[7] | number:'1.2-2'}}
                      </h3>
                    </div>
                  </td>

                  <!-- Valor Recibido -->
                  <td class="px-6 py-4 whitespace-nowrap">
                    <div class="flex items-center">
                      <h3 class="text-sm font-medium text-gray-200">
                        {{element[8] | number:'1.2-2'}}
                      </h3>
                    </div>
                  </td>

                  <!-- Valor Entregado -->
                  <td class="px-6 py-4 whitespace-nowrap">
                    <div class="flex items-center">
                      <h3 class="text-sm font-medium text-gray-200">
                        {{element[9] | number:'1.2-2'}}
                      </h3>
                    </div>
                  </td>

                  <!-- TCEA -->
                  <td class="px-6 py-4 whitespace-nowrap">
                    <div class="flex items-center">
                      <h3 class="text-sm font-medium text-gray-200">
                        {{element[10] | number:'1.7-7'}}%
                      </h3>
                    </div>
                  </td>
                  <td class="flex flex-row px-6 py-4 whitespace-nowrap text-center text-sm font-medium">
                    <button class="text-indigo-600 hover:text-indigo-900 ml-2.5" (click)="deleteElement(i)">Delete</button>
                  </td>
                </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
