<div id="notLoggedInNavbar" class="w-full h-auto bg-soft-black flex flex-row z-10 absolute top-0">
    <h1 class= "ml-10 mr-auto text-2xl text-gray-300 mt-5"><b>Firebase </b>Practice</h1>
    <div class="mr-10 ml-auto mt-5">
      <button class="w-24 h-10 text-lg bg-soft-grey xl:hover:bg-gray-700 text-gray-200 rounded-md transition-all duration-500 ease-linear mr-2.5" (click)="navigateToLogin()">
        <b>Login</b>
      </button>
      <button class="w-24 h-10 text-lg bg-purple-accent xl:hover:bg-purple-400 text-gray-200 rounded-md transition-all duration-500 ease-linear ml-2.5" (click)="navigateToJoin()">
        <b>Join</b>
      </button>
    </div>
</div>
<div id="loggedInNavbar" class="w-full h-auto bg-soft-black flex flex-row z-20 absolute top-0">
  <h1 class= "ml-10 mr-auto text-2xl text-gray-300 mt-5"><b>Firebase </b>Practice</h1>
  <div class="flex flex-row mr-10 ml-auto mt-5">
    <button id="emailStringButton" class="w-auto h-10 text-lg bg-soft-grey xl:hover:bg-gray-700 text-gray-200 rounded-md transition-all duration-500 ease-linear mr-2.5 pl-4 pr-4" (click)="navigateToLogin()">
    </button>

    <!-- Interest rate type dropdown -->
    <div class="w-auto relative inline-flex">
      <svg class="w-2 h-2 absolute top-0 right-0 m-4 pointer-events-none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 412 232"><path d="M206 171.144L42.678 7.822c-9.763-9.763-25.592-9.763-35.355 0-9.763 9.764-9.763 25.592 0 35.355l181 181c4.88 4.882 11.279 7.323 17.677 7.323s12.796-2.441 17.678-7.322l181-181c9.763-9.764 9.763-25.592 0-35.355-9.763-9.763-25.592-9.763-35.355 0L206 171.144z" fill="#ffffff" fill-rule="nonzero"/></svg>
      <select id="rate-options" class="text-base font-medium rounded-md text-gray-200 h-10 pl-5 pr-10 bg-purple-accent xl:hover:bg-purple-400 focus:outline-none appearance-none transition-all duration-500 ease-linear focus:ring-0" (load)="setRate()" (change)="setRate()">
        <option value="0">Tasa Efectiva</option>
        <option value="1">Tasa Nominal</option>
      </select>
    </div>
    <!-- Currency type dropdown -->
    <div class="w-auto relative inline-flex ml-2.5">
      <svg class="w-2 h-2 absolute top-0 right-0 m-4 pointer-events-none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 412 232"><path d="M206 171.144L42.678 7.822c-9.763-9.763-25.592-9.763-35.355 0-9.763 9.764-9.763 25.592 0 35.355l181 181c4.88 4.882 11.279 7.323 17.677 7.323s12.796-2.441 17.678-7.322l181-181c9.763-9.764 9.763-25.592 0-35.355-9.763-9.763-25.592-9.763-35.355 0L206 171.144z" fill="#ffffff" fill-rule="nonzero"/></svg>
      <select id="currency-options" class="text-base font-bold text-center rounded-md text-gray-200 h-10 pl-5 pr-10 bg-purple-accent xl:hover:bg-purple-400 focus:outline-none appearance-none transition-all duration-500 ease-linear focus:ring-0" (load)="setCurrency()" (change)="setCurrency()">
        <option value="0">S/.</option>
        <option value="1">$</option>
      </select>
    </div>

    <button class="w-24 h-10 text-base font-medium bg-purple-accent xl:hover:bg-purple-400 text-gray-200 rounded-md transition-all duration-500 ease-linear ml-2.5" (click)="navigateToHome()">
      <b>New Note</b>
    </button>

    <button class="w-24 h-10 text-base font-medium bg-purple-accent xl:hover:bg-purple-400 text-gray-200 rounded-md transition-all duration-500 ease-linear ml-2.5" (click)="navigateToWallet()">
      <b>Wallet</b>
    </button>

    <button class="w-24 h-10 text-base font-medium bg-purple-accent xl:hover:bg-purple-400 text-gray-200 rounded-md transition-all duration-500 ease-linear ml-2.5" (click)="navigateToNotes()">
      <b>My Notes</b>
    </button>

    <button class="w-24 h-10 text-base font-medium bg-purple-accent xl:hover:bg-purple-400 text-gray-200 rounded-md transition-all duration-500 ease-linear ml-2.5" (click)="logout()">
      <b>Logout</b>
    </button>
  </div>
</div>
<router-outlet></router-outlet>
